.filter{
    width: 62%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: #f0f7ff;
    position: relative;
    animation: slide-down .5s ease-out;
}
.exit{
    width: 62%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: #f0f7ff;
    position: relative;
    animation: slide-up .5s ease-out;
}
.close_filter{
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}
.filter_heading{
    text-align: center;
    color: #b6c1d0;
    font-weight: 700;
}
.button_section{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

@keyframes slide-down{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-up{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(-50%);
        opacity: 0;
    }
}